# Evaluating Vaccine: A Comparative Analysis of COVID-19 Vaccine

Kasey Nastahunina NetID: knasta3

Daniel Quirke NetID: dquirk2

Maxwell Olmen NetID: molme2

Divyal Desle NetID: ddesle2

Ananya Mate NetID: amate4

The project aims to assess the effectiveness and popularity COVID-19 vaccines in different stages in preventing infections, reducing severe cases, and mitigating transmission rates. With the global rollout of multiple vaccines, understanding their relative performance is crucial for optimizing vaccination strategies and addressing potential concerns.This deep analysis will involve the collection and integration of real-world data from diverse sources (e.g CDC, Covid Tracking, HealthCare)nand public health records. The project will employ advanced statistical techniques and machine learning algorithms to evaluate each stages (1st dose, 2nd dose, boosters) of vaccine efficacy across geographic regions.

### Key objectives

1. Exploratory Data Analysis (EDA) - initial data exploration to understand the structure, patterns, and characteristics of the dataset.

2. Visualisations - summary statistics, visualizations, and plots to gain insights.

3. Data Preparation - transform features to create meaningful variables for analysis.

4. Hypothesis - Based on the data analysis of the problem, formulate one or more null hypothesis (H0) and an alternative hypothesis (H1)..

5. Machine Learning Analysis - Choose appropriate machine learning or statistical models based on the project's goal. Split the data into training, validation, and test sets for model development and evaluation. Train and fine-tune the models using appropriate techniques (e.g., cross-validation, hyperparameter tuning).

6. Evaluation and Validation - assess model performance using relevant metrics (e.g., accuracy, precision, recall, F1-score for classification; RMSE, MAE for regression).

7. Interpretation - interpret model results and provide meaningful insights. Create visualizations, reports, and dashboards to report findings.

8. Conclusion and Final Report - Summarize the findings, conclusions, and actionable recommendations. Present the project's achievements and potential next steps.


## Goal

The project's goal is to help develop new hypotheses and strategies for controlling the spread of infectious diseases in the future. With a wider range of data available, we can understand various aspects of vaccination efforts. This could include studying the efficacy of different vaccine types, analyzing the impact of vaccination on different demographics, and evaluating the long-term effectiveness of booster shots.

Ultimately, the effectiveness of COVID-19 vaccines is a critical aspect to combat the pandemic that has influenced numerous lives and is still affecting our society after multiple years. By deeply studying and analyzing this topic, we can contribute to the global understanding of vaccination as a powerful tool in controlling infectious diseases and get an understanding for more effective strategies in the future.

In [11]:
import pandas as pd
import numpy as np

## Part 1: Covid-19 Data Exploration

The COVID-19 data was found on World Health Organization (WHO) webpage. It is used to track the COVID-19 cases, deaths, recover, etc. There are multiple colomns such as date when the new cases and deathes were reported, country and country code, region for WHO statisics, and total cases of infectoin and death for the stated country.

Here are some of the data tables:

In [27]:
covidData = pd.read_csv("WHO-COVID-19-global-data.csv", dtype={'sched_dep_time': 'f8', 'sched_arr_time': 'f8'})
covidData.tail(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
331790,2023-10-24,ZW,Zimbabwe,AFRO,0,265821,0,5720
331791,2023-10-25,ZW,Zimbabwe,AFRO,0,265821,0,5720
331792,2023-10-26,ZW,Zimbabwe,AFRO,0,265821,0,5720
331793,2023-10-27,ZW,Zimbabwe,AFRO,0,265821,0,5720
331794,2023-10-28,ZW,Zimbabwe,AFRO,0,265821,0,5720
331795,2023-10-29,ZW,Zimbabwe,AFRO,0,265821,0,5720
331796,2023-10-30,ZW,Zimbabwe,AFRO,0,265821,0,5720
331797,2023-10-31,ZW,Zimbabwe,AFRO,0,265821,0,5720
331798,2023-11-01,ZW,Zimbabwe,AFRO,0,265821,0,5720
331799,2023-11-02,ZW,Zimbabwe,AFRO,0,265821,0,5720

In [28]:
covidData.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  3.318000e+05      3.318000e+05  331800.000000       3.318000e+05
mean   2.325737e+03      1.518453e+06      21.027797       1.834586e+04
std    3.870292e+04      6.883106e+06     147.262467       7.655302e+04
min   -6.507900e+04      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      2.664750e+03       0.000000       2.100000e+01
50%    0.000000e+00      3.750300e+04       0.000000       4.090000e+02
75%    1.460000e+02      4.399002e+05       1.000000       5.874250e+03
max    6.966046e+06      1.034368e+08   11447.000000       1.138309e+06




#### Data Preperation

There is a lot of data we might need to use when prepering it for the project use. There are a few expamles of who to manipulate the data set to find needed information:

In [14]:
covidData['Date_reported'] = pd.to_datetime(covidData['Date_reported'])
latest_date_row = covidData[covidData['Date_reported'] == '2020-09-09']

result = latest_date_row[['Date_reported', 'Country', 'Cumulative_cases', 'Cumulative_deaths']]

display(result)

       Date_reported            Country  Cumulative_cases  Cumulative_deaths
250       2020-09-09        Afghanistan             38520               1418
1650      2020-09-09            Albania             10406                319
3050      2020-09-09            Algeria             46938               1569
4450      2020-09-09     American Samoa                 0                  0
5850      2020-09-09            Andorra              1261                 53
...              ...                ...               ...                ...
325050    2020-09-09           Viet Nam              1054                 35
326450    2020-09-09  Wallis and Futuna                 0                  0
327850    2020-09-09              Yemen              1998                577
329250    2020-09-09             Zambia             12952                298
330650    2020-09-09           Zimbabwe              7388                219

[237 rows x 4 columns]

In [15]:
covidData['Date_reported'] = pd.to_datetime(covidData['Date_reported'])

latest_date_row = covidData[covidData['Date_reported'] == covidData['Date_reported'].max()]

# Calculate the total cases for the latest date
total_cases_latest_date = latest_date_row['Cumulative_cases'].sum()

print("Total cases on latest date:", total_cases_latest_date)

Total cases on latest date: 771679618

In [16]:
covidData['Date_reported'] = pd.to_datetime(covidData['Date_reported'])

latest_date_row = covidData[covidData['Date_reported'] == covidData['Date_reported'].max()]

total_deaths_latest_date = latest_date_row['Cumulative_deaths'].sum()

print("Total death on latest date:", total_deaths_latest_date)

Total death on latest date: 6977023

## Part 2: Vaccine Data Exploration

The Vaccine data was found on World Health Organization (WHO) webpage. It is used to track the Covid-19 vaccine types, uses and  etc. There are multiple columns such as the name of the country, number of vaccines, number of people receiving different doses of vaccines, number of people receive different doses of vaccines per 100 people, etc.

Here are some of the data tables:

In [23]:
vaccineData = pd.read_csv("vaccination-data.csv", dtype={'sched_dep_time': 'f8', 'sched_arr_time': 'f8'})
vaccineData.tail(15)

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
214,Dominican Republic,DOM,AMRO,REPORTING,2023-06-02,15972891.0,7322815,147.244,67.504,6095810,56.193,NaN,2021-02-16,5.0,2554266.0,23.546
215,Germany,DEU,EURO,REPORTING,2023-09-03,193241457.0,64868618,232.400,77.932,63566137,76.368,NaN,2020-12-23,9.0,52143826.0,62.645
216,Gibraltar,GIB,EURO,OWID,2022-12-16,132810.0,42175,394.200,125.182,41465,123.074,NaN,NaN,2.0,49170.0,145.944
217,Guatemala,GTM,AMRO,REPORTING,2023-06-02,20370595.0,8935137,113.703,49.874,7127944,39.786,NaN,2021-02-25,5.0,3719543.0,20.762
218,Israel,ISR,EURO,REPORTING,2022-06-05,17915305.0,7055466,207.000,79.274,6385731,71.749,NaN,2020-12-16,3.0,4474108.0,50.271
219,Kazakhstan,KAZ,EURO,REPORTING,2023-04-30,38355605.0,12443364,204.300,64.821,13070774,68.089,NaN,2021-04-07,5.0,6801526.0,35.431
220,Kuwait,KWT,EMRO,REPORTING,2023-11-05,8261159.0,3457471,193.444,80.960,3346144,78.354,NaN,2020-12-28,10.0,1457544.0,34.130
221,Lao People's Democratic Republic,LAO,WPRO,REPORTING,2023-05-21,13879410.0,6324678,190.768,86.930,5691962,78.234,NaN,2020-11-25,8.0,2451034.0,33.689
222,Micronesia (Federated States of),FSM,WPRO,REPORTING,2023-03-28,198749.0,83871,172.791,72.917,80910,70.342,NaN,2021-01-13,4.0,30537.0,26.549
223,Rwanda,RWA,AFRO,REPORTING,2023-06-04,27322059.0,10884714,210.945,84.037,10399665,80.293,NaN,2021-03-05,7.0,4225194.0,32.621
224,"Saint Helena, Ascension and Tristan da Cunha",SHN,AFRO,OWID,2021-05-05,7892.0,4361,129.995,71.833,3531,58.162,NaN,NaN,1.0,NaN,NaN
225,Saint Lucia,LCA,AMRO,REPORTING,2023-06-02,122977.0,60140,66.971,32.751,54971,29.936,NaN,2021-02-17,5.0,7866.0,4.284
226,Serbia,SRB,EURO,REPORTING,2023-03-05,6722671.0,3398116,97.100,46.570,3324555,45.562,NaN,2020-12-23,5.0,0.0,0.000
227,Sweden,SWE,EURO,REPORTING,2023-10-01,23237123.0,7473037,225.000,71.496,7334822,70.174,NaN,2020-12-23,5.0,5542831.0,53.030
228,Tuvalu,TUV,WPRO,REPORTING,2023-02-01,26783.0,9763,227.129,82.793,9505,80.605,NaN,2021-04-13,1.0,5745.0,48.719

In [24]:
vaccineData.describe()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
count,2.280000e+02,2.290000e+02,224.000000,229.000000,2.290000e+02,229.000000,0.0,225.000000,2.130000e+02,213.000000
mean,5.936173e+07,2.444442e+07,157.525549,64.021520,2.252511e+07,59.055817,NaN,5.004444,1.167633e+07,32.384286
std,2.839923e+08,1.138834e+08,84.384285,25.279778,1.084298e+08,25.316711,NaN,2.925409,6.096485e+07,25.255548
min,1.170000e+02,0.000000e+00,0.348000,0.000000,0.000000e+00,0.000000,NaN,1.000000,0.000000e+00,0.000000
25%,4.736552e+05,1.923710e+05,87.040000,45.654000,1.848010e+05,39.850000,NaN,3.000000,4.599500e+04,8.574000
50%,4.749752e+06,2.740227e+06,161.055500,68.860000,2.484985e+06,63.703000,NaN,5.000000,6.465040e+05,30.681000
75%,2.336545e+07,1.088471e+07,223.542500,82.616000,9.574047e+06,78.354000,NaN,7.000000,4.474108e+06,53.030000
max,3.516881e+09,1.318027e+09,469.778000,163.185000,1.284480e+09,163.185000,NaN,12.000000,8.340601e+08,145.944000

In [26]:
selected_columns = ['COUNTRY', 'DATE_UPDATED', 'TOTAL_VACCINATIONS', 'PERSONS_VACCINATED_1PLUS_DOSE', 'PERSONS_LAST_DOSE', 'PERSONS_BOOSTER_ADD_DOSE']
vaccineData_selected = vaccineData[selected_columns]

# Display the selected columns
display(vaccineData_selected)

,COUNTRY,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,PERSONS_LAST_DOSE,PERSONS_BOOSTER_ADD_DOSE
0,American Samoa,2023-03-29,114706.0,46206,42479,24160.0
1,Austria,2023-07-02,20403676.0,6899873,6682372,5405966.0
2,Bangladesh,2023-10-18,362229859.0,151504394,142193276,68532189.0
3,Brunei Darussalam,2023-06-30,1293100.0,451149,446714,340466.0
4,Bulgaria,2023-09-24,4618931.0,2108544,2080324,833135.0
...,...,...,...,...,...,...
224,"Saint Helena, Ascension and Tristan da Cunha",2021-05-05,7892.0,4361,3531,NaN
225,Saint Lucia,2023-06-02,122977.0,60140,54971,7866.0
226,Serbia,2023-03-05,6722671.0,3398116,3324555,0.0
227,Sweden,2023-10-01,23237123.0,7473037,7334822,5542831.0
228,Tuvalu,2023-02-01,26783.0,9763,9505,5745.0